body {
margin: 0%;
    padding: 0;
}

main {
padding: 16px;
}

footer {
padding-top: 24px;
padding-bottom: 24px;
padding-left: 0;
padding-right: 0;
font-size: large;
background-color: plum;

}

img {
height: 200px;
text-decoration: none;
}

nav {
color: black;
border-bottom: 1px;
border-color: palegoldenrod;
padding: 16px;
background-color: palegoldenrod;
font-size: x-large;
}

a {
text-decoration: none;
}

.my-grid {
display: flexbox;
grid-template-columns: auto 1fr;
grid-template-rows: auto 100px;
}

div {
display: flexbox;
grid-template-columns: auto 1fr;
grid-template-rows: auto 100px;
}

th,
td {
padding: 5px;
text-align: center;
perspective: 10px;
}

td {
background-color: lightcyan;
}

.heart {
    fill: red;
    position: relative;
    top: 5px;
    width: 50px;
    animation: pulse 1s ease infinite;
  }

  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
  }
